* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0; 
    background-color: black;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}
.container {
    display: flex;
    align-items: center;
    gap: 50px;
     /* background-image: url('./images/world.svg');  */
     z-index: -1;
}
.image img {
    width: 450px;
    max-width: 100%;
    border-radius: 50%;
}
 .form {
    width: 450px;
    max-width: 100%;
    padding: 25px;
    background-image: url('/images/pattern.svg');
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    color: white;
    margin-top: 30px;
}

.form h2 {
    text-align: center;
    font-size: 30px;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1; 
    background: none;

}
.input-group {
    position: relative;
    width: 95%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
}

.input-group i {
    font-size: 18px;
    color: #555;
    margin-left: 2px; 
    }
button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    background-color: #218838;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox input {
    margin-right: 10px;
}

.checkbox label {
    font-size: 14px;
    color: white;
}

.checkbox a {
    color: #007bff;
    text-decoration: none;
}

.checkbox a:hover {
    text-decoration: underline;
}
