*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Noto Kufi Arabic", sans-serif;
    background-color: #1a1b20;
    color: #d4d4d4;
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(rgba(26, 27, 32, 0.7), rgba(26, 27, 32, 1.7)), url(../images/world.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 70%;
   z-index: -2;
   margin-bottom: 600px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Noto Kufi Arabic", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1b20;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

/* Small  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large  */
@media (min-width: 1200px) {
    .container {
        width : 1170px;
    }
}
/* Start Tables */
.tables .container {
    max-width: 700px;
    margin: auto;
    background-color: #292a2f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.tables h1, h2 {
    color: white;
}

.tables .section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #292a2f;
    border-radius: 5px;
}

.tables table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tables table, th, td {
    border: 1px solid white;
    padding: 15px;
    text-align: left;
    color: white;
}
.tables pre {
    background-color: #1a1b20;  
    color: white;  
    font-size: 15px;
    padding: 15px;
    margin-top: 10px;
    overflow-x: auto;
    white-space: pre-wrap;  
    word-wrap: break-word;
    text-align: left;  
    margin: 7px;
    line-height: 23px;
}
.tables h3{
    margin-left: 10px;
    color: white;
}
.tables select {
    padding: 15px;
    margin-left: 7px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #282c34;
    color: white;
    border: 1px solid #777;
    font-weight: bold;
    font-size: 15px;
}
.tables .ptn2{
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #282c34;
    color: #212529;
    border: none;
    /* border: 0px solid #282c34; */
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
/* End Tables */
/* Start Space */
.space {
    height: 180px;
}

@media (max-width: 991px) {
    .space  {
      height: 80px;
    }
}
/* End Space */
/* Start Footer */
footer {
    position: relative;
    padding-top: 140px;
    z-index: 1;
}

footer::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #292a2f;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    z-index: -1;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 45px;
    padding-bottom: 25px;
    padding-left: 55px;
}

@media (max-width: 768px) {
    footer .container {
        padding-left: 15px;
    }
}

footer .text {
    width: 400px;
}

footer .text h3 {
    margin-top: 5px;
    font-size: 17px;
    font-weight: unset;
    width: fit-content;
}

footer .text h3 a {
    color: #007bff;
    transition: 0.5s;
    margin-top: 10px;
}

footer .text h3:hover a {
    color: #0263cb;
    cursor: pointer;
    text-decoration: underline;
}

footer .text p {
    color: #ffffff80;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
}

footer .links h3 {
    color: white;
    font-size: 22px;
}

footer .links ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
} 

footer .links ul a {
    color: #ffffff80;
    font-size: 17px;
}

footer .push h3 {
    color: white;
    font-size: 22px;
}

footer .push img {
    width: 220px;
}

footer .tex {
    text-align: center;
    background-color: #1a1b20;
    padding-top: 20px;
    padding-bottom: 3px;
    color: #ffffff80;
}
/* End Footer */